*{
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

div{
    padding:5px 0;
}

.formCont{
    width:250px;
    height:250px;
    padding:20px;
    border:2px black solid;
    text-align:center;
    margin:150px auto;
}

input[type=submit]{
    width:250px;
}